:root{
    --corPrincipal: #293142;
    --corPrincipalVariacao1: #252d3c;
    --corPrincipalVariacao2: #36445d;

    --corDestaque: #d22754;
    --corDestaqueVariacao1: #b2133e;
    --corDestaqueVariacao2: #ee406e;
}